/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}*/
body {
	line-height:1;
	color:black;
	background:white;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/
body {
	font:14px/1.6 Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color:#333;
	
}

a, a:visited {
	/*color:blue;*/
	text-decoration:none;
}
a:hover, a:active {
	color:#000;
	text-decoration:none;
}

#dev7link {
    position:absolute;
    top:0;
    left:50px;
    background:url(images/dev7logo.png) no-repeat;
    width:60px;
    height:67px;
    border:0;
    display:block;
    text-indent:-9999px;
}

.theme-default #slider {
    margin:auto;
    width:1000px; /* Make sure your images are the same size */
    height:246px; /* Make sure your images are the same size */
}
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
    margin-top:150px;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}

#banner-left,#banner-right{position:fixed; z-index:999; top:150px; width:158px; border:solid 1px silver; border-radius:5px; padding:10px; background:url(../images/vertical-banner-bg.png) repeat; font-size:11px; color:#4d4e4e}
#banner-left a,#banner-right a{color:#4d4e4e; line-height:32px}
#banner-left ul,#banner-right ul{padding-left:0; list-style-type:none}
#banner-left ul li,#banner-right ul li{clear:both}
#banner-left hr,#banner-right hr{border-top:dotted 1px #4d4e4e; border-style:dotted none none none}
#banner-left a img{width:40px; height:40px; margin-right:5px; float:left}
#banner-right{width:150px}
#banner-right img{width:20px; height:20px}
#banner-right ul li{margin-bottom:10px}
#banner-right ul li hr{width:120px; border-bottom:dashed 1px #4d4e4e; float:right; height:13px; border-style:none none dashed none}
#banner-right h3{text-align:center; text-transform:uppercase}
#register{text-transform:uppercase; text-align:center}

#banner-left{float:left}
#banner-right{float:right; /*left:1170px*/}
#slides{margin:auto; width:1000px; padding:0}
#slide1, #slide2{width:1000px; height:250px}
/*#slides img{margin-top:-19px}*/
.slidebutton{margin-left:120px; margin-top:100px; cursor:pointer}
#register-panel{}
#register{cursor:pointer}

#listbook{height:500px; margin-bottom:53px; margin-top:15px}
#space-bottom{clear:both}
#maskClose{font-size:11px}

#newest{padding:10px}
#newest h3{margin:0}
#newest ul li a{color:#035A77; font-size:12px}
.error{width:100%}
