@CHARSET "ISO-8859-1";
#content{position:absolute; z-index:10; left:270px; top:100px;  width:820px}
#subcontent{background:white; padding:15px;}
.regist-button {font-size: 14px; font-weight: bold; text-transform: uppercase; padding: 5px 10px; color: white; background: black;}
.body {font-size:14px}
#register-form td{padding:5px 10px}
#register-form {margin-left: 200px}
.red {color:red}
.lang-selector {height:20px; width:35px; box-shadow: 0 2px 3px 0 #5c5c5c}
#order-info, #order-deadline{float:left; margin-left:100px}
.clear{clear: both}
#order{padding:25px; box-shadow:0 0 20px 0 #868686; margin-bottom:15px}