*{
margin:auto;text-align:center;font-size:62,5%;
}
img{border:0px}
.support p{ font-size:20px; font-weight:bold; padding:0; margin:0;}
html{
height:100%;
background-image:url(../images/top_bg.jpg);
background-position:top center;
background-repeat:no-repeat;
width:100%;
min-width:980px;
background-color:#3E3E3E;
font-family:Arial, Helvetica, sans-serif;
}
body{
width:100%;
height:100%;
position:relative;
}
body{
min-height:100%;
height:auto;
}
#content{
width:980px;
overflow:hidden;
margin:0 auto;
}
#content, x:-moz-any-link {width:981px;}
#header{
width:980px;
height:141px;
position:relative;
}
.desptext{ padding:10px; text-align:left; position:relative}
#wrapper{
width:980px;
/*height:100%;*/
/*margin:0 0 87px 0;*/
padding:0 0 30px 0;
overflow:hidden;
/*background-image:url(../images/bottom.gif);*/
background-position:bottom left;
background-repeat:no-repeat;
background-color:#FFF;
margin-top:30px
}
#footer{
/*position:absolute;
bottom:0px;*/
height:187px;
width:100%;
background-image:url(../images/bot_bg.jpg);
background-position:top left;
background-repeat:repeat-x;
}
#footer div{
width:980px;
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFF;
}
#footer li{
display:block;
float:left;
list-style-type:none;
line-height:22px;
padding-right:10px;
}
.top_menu{
margin:108px 0px -2px 78px;
display:block;
float:left;
color:#FFF;
}
.top_menu ul{display:block}
.top_menu li{
list-style-type:none;
display:inline;
float:left;
height:33px;
margin-top:-4px;
text-transform:uppercase;
}
.top_menu a, #footer li a{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFF;
text-decoration:none;
line-height:24px;
}
.footer_top_add a{font-size:12px !important;}
.top_menu a{font-size:13px; font-weight:bold;color:#FFF; line-height:30px; padding:2px 20px 0;}
.top_menu1 a{font-size:12px; font-weight:bold;color:#FFF; line-height:30px; padding:10px 10px 0;}
.top_menu1 a:hover{text-decoration: underline}
#search{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:white;
float:left;
line-height:25px;
margin:-17px 0 10px 9px;
padding:0;
width:184px;
}
#search select{
width:auto;
height:20px;
font-size:11px;
padding:1px;
margin:0 12px 0 0;
float:left
}
#search a{
display:block;
float:left
}
.tel{
float:right;
margin:80px 17px 0 0
}
#footer li a{
margin:0 9px;
}
#footer ul{
display:block;
overflow:auto;
width:850px;
padding:5px 0 0 20px;
margin-left:170px;
}
#footer li a{text-decoration:none}
#footer li a:visited{text-decoration:none}
#footer li a:hover{text-decoration:underline}
#bft{
display:block;
line-height:18px;
/*background-color:#111115;*/
margin:20px auto 0 auto;
padding:0;
color: #fff;
font-size:11px;
margin:0;
}
#bft a{
color:#B08A24;
text-decoration:none
}
#left{
width:201px;
float:left;
/*background-image:url(../images/left_bg.jpg);*/
background-position:top left;
background-repeat:no-repeat;

}
#left h4, #right h4{
display:block;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#FFF;
font-weight:normal;
text-transform:uppercase;
font-weight:bold;
margin-top:0px;
padding-top:8px;
}
.title1{
/*padding:0px 0 10px 0px;*/
background-image:url(../images/h4.jpg);
background-repeat:repeat-x;
text-align:center;
/*margin:10px 0 6px 0;*/
height:33px;
width:182px;
margin-bottom:0;

}
#list{
width:181px;
list-style-type:none;
margin:0;
padding:0;
}
#list a{
display:block;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
text-decoration:none;
background-position:top left;
background-repeat:no-repeat;
line-height:25px;
margin:0;
text-align:left;
padding:0 0 0 19px;
}
.type1{background-image:url(../images/oarrow.gif);}
.type2{background-image:url(../images/garrow.gif); }
.type3{background-image:url(../images/oarrowdown.gif);}
.inside{
/*background-image:url(../images/ul_bg.gif);*/
background-color:#f0f0f0;
background-position:top left;
background-repeat:repeat-y;
list-style-type:none;
margin:0;
padding:10px;
border-bottom:1px solid #E1E1E2;
border-top:1px solid #E1E1E2;
}
.menuleft-lv2{text-align:left !important;}
#list li{ padding:0; margin:0; margin-bottom:0; }
#list .inside a{
color:#000000;
background-image:url(../images/arrow.gif);
background-position:0px 8px;
background-repeat:no-repeat;
text-decoration:underline;
text-align:left !important;

}
#vcontent{float:left}
.inside li{margin-bottom:0; clear: both; text-align:center}
.inside a{ text-align:left}
#list .inside a{text-decoration:none}
#list .inside a:hover{text-decoration:none; color: #292933; font-weight: bold}
.title2{
background-image:url(../images/h4.jpg);
background-repeat:repeat-x;
padding:0 0 14px 0px;
margin:0;
text-align:center;
width:182px;
}
.title3{
background-image:url(../images/h4.jpg);
background-repeat:repeat-x;
padding:0 0 14px 0px;
margin:12px 0 12px 0px;
text-align:center;
width:182px;
}
.news{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
padding:0 0 18px 11px;
}
.news span{
display:block;
background-image:url(../images/date_bg.gif);
background-position:top left;
background-repeat:no-repeat;
width:175px;
line-height:15px;
color:#FFFFFF;
padding:0 0 0 5px
}
.news p{
padding:7px 7px 7px 2px
}
.more{
color:#CE2800;
text-decoration:underline;
display:block;
margin:0 0 0 2px;
}
.more:visited{text-decoration:underline}
.more:hover{text-decoration:none}
.currencies{
background-color:#E1E1E2;
width:182px;
margin:0 0 15px 9px;
height:58px;
text-align:center
}
.currencies select{
width:130px;
height:20px;
margin:19px 0 0 0
}
#center{
width:578px;
float:left;
background-color:#FFF;
padding-top:10px
/*background-color:#3e3e3e;*/
}
#center p, #center span, #center strong{ text-align:left; margin:0; padding:0; }
#photo{
background-image:url(../images/photo.jpg);
background-position:top left;
background-repeat:no-repeat;
width:578px;
height:280px;
border-bottom:1px solid #A7A7A7;
}
* html .transparent { background:expression(transparent(this)); }
.text{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#888888;
text-transform:uppercase;
margin:112px 0 0 20px;
}
.text p{
width:255px;
padding:12px 0 0 0
}
.text span{color:#D9B24A}
#items{
margin-left:1px;
}
.item{
border:1px solid #42424B;
width:182px;
height:auto;
background-color:#FFF;
float:left;
margin:8px 4px 0 4px;
margin-top:8px;
}
.itemh5{
display:block;
width:182px;
line-height:34px;
padding:0;
background:url(../images/name.jpg) repeat-x;
background-position:top left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:black;
font-weight:normal;
clear:both;
text-align:center;
font-weight:bold;
}
.itemimage{
padding:4px 0 0 6px;
float:left
}
.itemimage .more{
display:block;
width:150px;
line-height:20px;
margin:1px 0 0 0;
text-align:center;
background-color:#292933;
text-decoration:none
}
.itemimage .more a{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#E5BC51;
text-decoration:underline
}
.itemimage .more a:visited{text-decoration:underline}
.itemimage .more a:hover{text-decoration:none}
.price{
float:left;
width:125px;
padding:4px 0 0 0
}
.price p{
display:block;
float:left;
width:125px;
background-color:#292933;
line-height:20px;
}
.price p span{
display:block;
float:left;
width:54px;
text-align:right;
font-family:Tahoma;
font-size:12px;
font-weight:bold
}
.new{color:#FF5216}
.old{color:#CDCDCD;}
.button{
width:125px;
text-align:center;
padding:18px 0 0 0
}
#right{
width:201px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
}
.cart{
float:left;
margin:-2px 5px 0 -2px
}
.bag{
width:182px;
text-align:center;
margin:0 0 0 11px;
}
.bag a{
color:#B48916;
text-decoration:underline;
display:block;
margin:5px
}
.bag a:visited{text-decoration:underline}
.bag a:hover{text-decoration:none}
.entry{
width:160px;
background-color:#E1E1E2;
padding:4px 0 5px 22px;
margin:0 0 0 11px;
line-height:17px;
}
.entry input{
width:136px;
height:17px;
margin:0 0 2px 0;
border:2px inset #CECECE
}
.forgot{
color:#000000;
text-decoration:underline
}
.forgot:visited{text-decoration:underline}
.forgot:hover{text-decoration:none}
.below{
overflow:hidden;
padding:4px 0 0 11px;
}
.below a{
color:#B48916;
text-decoration:underline;
display:block;
float:left;
margin:0 29px 0 22px;
display:inline
}
.below a:visited{text-decoration:underline}
.below a:hover{text-decoration:none}
.users{
width:90px;
background-color:#E1E1E2;
margin:15px 0 35px 11px;
padding:7px 0 5px 92px;
}
.users p{
display:block;
width:80px;
text-align:center;
padding:0 0 5px 0
}
.users font{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
background-color:#FFFFFF;
padding:0 10px;
}
.brands{
list-style-type:none;margin-left:5px;
line-height:20px;
width:172px;
padding:0;
}
.brands li{
padding:0 0 0 7px;
border-bottom: 1px solid #ccc;
text-align:left;
}
.brands p{ font-weight:bold; font-size:12px; text-align:left; padding:0; margin:0;}
.brands a{
color:#000000;
text-decoration:none
}
/*.color{background-color:#E6E6E6}*/
#background{
background-image:url(../images/bg.gif);
background-position:top left;
background-repeat:repeat-y;
overflow:hidden;
width:980px;
/*height:100%;*/
}
#discount{
position:absolute;
top:335px;
left:873px;
z-index:10000000;
}
.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
}
#tel{ text-transform:capitalize; color:white; width:auto/*181px*/; height:13px; position:absolute; top:80px; right:18px}
#button-ok{ width:40px; background-color:#485e68; color:#FFF; height:20px}
#language{ position:absolute; top:3px; right:25px; font-size:12px;}
#language a{ color:#B30909;}
#language img{ width:19px; height:15px}
#language a{padding-left:0px;}
.pr-img{ margin:5px; border-bottom:1px solid #CCC;}
.pr-img h4{ color:#000000 !important; font-size:11px !important; text-transform:none !important;}
.bodermove{margin-top:10px; width:182px; border-radius:5px;  border:1px solid #E83D43; border-bottom:0;clear:both;}
#newpr{width:100%; line-height:30px; background-image:url(../images/prnew.jpg); background-repeat:repeat-x; text-transform:uppercase; font-weight:bold; text-align:center !important; padding:auto !important; color:white; margin:10px 0 0 -4px !important;}
.itemmenu{position: absolute;padding-top:10px;z-index: 999}
span a{ text-decoration:none}
.itemmenu div{ padding-left:5px; text-transform:none;
background-color:#3e3e3e;
padding:0 10px;
min-width: 150px;
width:auto!important;
width:150px;
text-align: left;
border-radius:5px}
.itemmenu div hr{border-color:#656565; box-shadow:0px 1px 1px 0px #4a4a4a; border-width:1px; border-style: none none solid none}
.itemmenu a{ cursor:pointer; font-weight:normal; font-size:12px}
.support{ margin:5px 10px 5px 10px; padding:0 0 5px 0px; border-bottom:1px solid #ccc; background-color:#FFF;}
#map{margin:-10px 0 10px 6px; padding-bottom:10px;}
#mainmap{ height:auto; border-bottom-left-radius:5px; border-bottom-right-radius:5px; border:1px solid #E83D43; border-bottom:0;}
#prnew{ border-bottom-left-radius:5px; border-bottom-right-radius:5px; border:1px solid #e83d43; border-bottom:0;}
#statistics li{ list-style:none; line-height:21px; text-align:left; padding:0 0 5px 5px;}
#statistics label{ font-weight:normal; margin-left:5px;}
#statistics ul{margin:-10px 5px 10px 5px; padding:0;}
#statistics{font-weight:bold; font-size:11px}
#statistics img{margin-bottom:-3px;}
#textbaner{ margin-left:-92px; width:650px; position:absolute; z-index:4444; left:315px; top:25px; color:#FDFDFD; text-transform:uppercase; text-shadow:black 0.1em 0.1em 0.2em; font-size:22px; font-weight:bold; text-align:center;}
#textbaner p{ padding:0; margin-top: 2px }
#titletrust{ font-size:12px; text-transform:none; font-weight:none;}
.itemimage p{margin:0; padding:0}
.bg_itemmenu{height:31px; background-color:#a0a09f; width:981px; position:absolute; top:139px; left:0;}
.bg_itemmenu ul{margin:0; padding-left:110px; width:100%; height:30px; z-index: 444;}
.bg_itemmenu ul li{ float:left; padding-left:10px; padding-top: 5px}
.breadcumpr{border-bottom: 1px solid #7a7875; margin:20px 0 0 0; text-align:left; padding:0 0 0 10px;}
.breadcumpr a{ text-decoration:none; color:black;}
/* --------------------- MANH ---------------------*/
.itemimage a img{width:169px !important; height:165px !important}
.clear{clear:both}
.pagination-control{text-align:center; padding:15px}
.pagination-control *{color:white}
h2{font-family:Arial;  font-size:1.2em;}
.product_image, .product_description{float:left; font-size:12px; margin:20px 10px 10px 10px; width:265px;}
.product_image{border:1px solid #7A7875}
.product_image p img{width:250px !important; height:215px !important; margin:10px}
.product_detail{clear:both;}
.aboutus-item{clear:both; padding:15px 0}
.aboutus-item img,.aboutus-item h3{float:left}
.aboutus-item h3{line-height:96px; padding:0 10px}
.aboutus-item h3 a{color:black}
.error-panel p{font-size:12px;color:#4a4a4a}
.error-panel{background-color:#f9f9f9; margin-top:10px; padding:10px; border:solid 1px #f0efef}
.text-content{padding:15px}
#relate_list{padding-left:0; margin-top:20px}
#relate_list h4{padding:0 0 0 10px; text-align:left; border-bottom:1px solid #7A7875; margin:0 0 10px 0;}
#relate_list ul{list-style-type:none; font-size:12px; padding-left:15px}
#mota_detail, #mota_detail span{ text-align:left; font-family: Tahoma }
#mota_detail p{ padding-right: 10px }
#detail_desp{ border-top:2px solid #d4d4d4; width:100%; height:auto; clear:both;  position:relative;}
#detail_desp a{ text-decoration:none; color:black; cursor:pointer;}
#desp_dt, #param_dt{ float:left; width:140px; text-align:center }
#desp_dt {margin-left:20px;}
#param_dt{margin-left:15px; left:165px;}
.bg_itemmenu_block{height:31px; background-color:#a0a09f; width:100%; position:absolute; top:139px; left:0}
.searchform {
float: left;
border:#ccc 2px solid;
height:24px;
padding:0;
margin:0;
width:180px;
}
.detail_desp_add{background-image:url(../images/dt1.png); background-repeat:no-repeat; position:absolute; top:-34px; height:34px; padding-top:10px}
.detail_desp_color{background-image:url(../images/dt2.png); background-repeat:no-repeat; position: absolute; top:-25px; height: 23px; padding-top:4px;}
#bg_itemmenu_3{padding-left:470px}
.styleshow{display:block !important;z-index:10}
.t
{
width:143px;
height:23px;
border:0px;
background:#ffffff;
float:left;
margin:0px;padding-top:3px;
}
.searchsubmit
{
float:right;
height:24px;
background-image:url(../images/search.png);
background-repeat:no-repeat;
border:none;
border-left:1px solid #ccc;
width:33px;
}
#center p{ background-color:#fff;}
td, input, textarea{ text-align:left}
.back_link{ margin:10px 75px 0 !important; padding:0; }
.back_link li{ float:left !important; padding-right:0px !important; line-height:24px !important; list-style:none}
.currentmenu,.hovermenu{background-color:#3e3e3e; color:#D9B24A}
/*--------------------Trung--------------------------*/
.aboutth-item h5 a{color:black; text-decoration: none;}
.aboutth-item h5 a:hover{text-decoration: underline;}
/*-----------------End Trung-------------------------*/
.gioithieu-title{margin:20px 0 10px 0}
#aboutus-menu{margin:15px 0 0 0; list-style-type:none; padding:0; width:98%; padding: 0;}
.aboutth-item h5 a{ text-align: left;}
#pr2{ background-image:url(../images/pr2.jpg)}
.back_link li:first-child{margin-left:-7px}
#breadcrum li{display:inline; color:#383838}
#breadcrum li *{color:#383838;text-decoration:none; font-size:15px; display:inline}
#breadcrum{list-style-type:none; padding:0; text-align:left; border-bottom:solid 1px black; margin-top:5px; margin-left: 0}