table
{
	font-family: Arial,Verdana,Helvetica,sans-serif;
	font-size: 11px;
	color: #605C88;
}
body
{
	font-family: Arial,Verdana,Helvetica,sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#main_cont
{
	margin: auto;
	width: 1155px;
}
code
{
	font-size: 11px;
	color: #FFFFFF;
}
pre
{
	font-size: 11px;
	color: #FFFFFF;
	padding: 5px;
}
a:link, a:visited, a:active, a:hover
{
	text-decoration: none;
	font-weight: normal;
	color: #FF0000;
	font-size: 11px;
}
a:active, a:hover
{
	color: #FFFFFF;
}
a.menu
{
	display: block;
	padding: 3px;
	border-top: 1px solid #605C88;
	background-color: #FFFFFF;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
}
a.menu:link, a.menu:visited
{
	color: #FF0000;
	background-color: #FFFFFF;
	text-decoration: none;
}
a.menu:active, a.menu:hover
{
	color: #605C88;
	background-color: #FFFFFF;
}
.menutitle
{
	text-align: center;
	margin: 2px;
}
.menucontainer
{
	border: 1px solid #605C88;
	background-color: #FFFFFF;
	width: 175px;
	margin-top: 10px;
}
#content
{
	background-color: #FFFFFF;
	width: 605px;
	padding: 0px;
	float:left;
	margin-top:10px;
	margin-left:97px;margin-right:97px;display:inline;text-align:center;
}

#left
{
	float: left;width: 175px;
}
#right
{
	float: right;width: 175px;
}

.error
{
   /* color: #605C88;
    border:1px solid red;*/
    padding: 2px;
	margin:5px;
color:#ff0000;
font-weight:normal;
font-size: 11px;
}
#title
{
	/*margin: 50px auto 0 auto;*/
	margin: 50px auto 0 auto;
	width: 605px;
	height: 185px;
}
.table_clac
{
	width:605px;
}
.notification
{
    color: #605C88;
}

#dialog table,#dialog td,#dialog th{
	text-transform:uppercase;
}

#Citys
{
	text-transform:uppercase;
}

input,select{
	font-family: Arial,Helvetica,sans-serif;
	font-size:11px;
}
input[type="submit"] {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin: 5px;
}


input[type="text"] {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
}