@charset "utf-8";
/* CSS Document */

body{width:100%; height:auto; margin:0; padding:0; font-family:Verdana, Geneva, sans-serif; font-size:11px; background-color:#e9e9e9; text-align:center;}
#subpage_header{ width:100%; height:220px; background-color:#d9d3ca; padding-top:20px;}
#subpage_logo_search{ width:1000px; margin:auto; text-align:left; height:122px;}
#subpage_logo{ float:left;}
#subpage_search{ float:right; height:30px; width:220px;}
.t{ width:130px; float:left; background-color:#efefef; border:2px solid #c8c8c8; height:22px; border-right:0; border-bottom-left-radius:5px;  border-top-left-radius:5px; padding-left:5px;}
.searchsubmit{ background:url('../images/search.png') no-repeat;background-color:#efefef; float:left; width:30px; height:28px; border:2px solid #c8c8c8; border-left:0;  border-bottom-right-radius:5px;  border-top-right-radius:5px; }
.t1{ width:130px; float:left; background-color:#efefef; border:2px solid #c8c8c8; height:22px; border-right:0; border-bottom-left-radius:5px;  border-top-left-radius:5px; padding-left:5px;}
.searchsubmit1{ background:url('../images/search.png') no-repeat;background-color:#efefef; float:left; width:30px; height:28px; border:2px solid #c8c8c8; border-left:0;  border-bottom-right-radius:5px;  border-top-right-radius:5px; }
#subpage_menu{ width:100%; height:40px;clear:both; margin-top:6px;}
#subpage_menu ul li{ list-style:none; float:left; padding-right:10px; font-size:14px; font-weight:bold; line-height:38px; padding-left:15px; }
#subpage_menu ul li a{color:#FFF; text-decoration:none;}
#subpage_menu ul li a:hover{font-weight: bold;  }
#subpage_menu ul li:hover{background: #02528f}
#subpage_menu ul{ width:1000px; margin:auto; padding-left:0; height:40px; position:relative;}
.subpage_menu_down{position:absolute; z-index:333; top:36px; font-size:11px;}
.children_down{ float:left; margin-right:25px; color:#5e5648; font-weight:normal; }
.children_down a{color:#5e5648;}
.children_down-title{background:url(../images/thanhnhon_cha_ed.gif) 100% 0; float:left; margin-top:10px; font-weight:normal; padding: 8px 20px 8px 8px; }
.children_down-title a{color: white;font-weight:bold; text-decoration: none}
.children_down-title a:hover{text-decoration: underline}
#subpage_home{ margin:15px 0 15px 180px; text-align:left; color:#5a5a5a; text-decoration:none}
#subpage_home a{text-align:left; color:#5a5a5a; text-decoration:none}

/*-------------main----------------*/

#subpage_wapper{ width:1000px; margin:auto; text-align:left; clear:both; height:auto !important; min-height:500px; height:500px; }
.subpage_wapper_left{ width:70%; float:left; background-color:#FFF; height:auto;}
.subpage_wapper_right{ float:left; width:28%; margin-left:20px;}
.children_down2{float:left; margin-right:5px; color:#5e5648; font-weight:normal; }
.subpage_wapper_left_top{ background-image:url('../images/thanhnhon_con.gif'); height:31px; width:100%; background-repeat:no-repeat; margin-top:10px; padding:10px 0 0 110px;}
.children_down2 a{ text-decoration:none; color:black}
.children_down2 a:hover{text-decoration: underline}
.subpage_new{ width:100%; height:115px; margin:15px}
.img_new{ float:left; width:152px; height:auto;}
.text_new{ float:left; width:488px; height:auto; padding: 0 10px}
.text_new p{ margin:0; padding:0 0 8px 0;}
.title{ font-weight:bold;}
.news1{width:43% !important;float:left !important; color:#FFF}
.news2{width:49% !important;float:left !important; width:49% !important;}
.news_title{ height:31px;}
.news_title p{ margin:0; padding:5px 0 0 5px !important; text-align:center; font-weight:bold;}
.subpage_wapper_right li{ list-style:url('../images/list.png'); padding-top:10px;}
.subpage_wapper_right ul{ margin:0; padding:0 0 0 15px;}
.subpage_wapper_right li a{ text-decoration:none; color:black}
.subpage_wapper_right li a:hover{ color: #2e74b2 }
.read_add{ color:#0762a7; font-weight:bold; float:right !important; clear:both; width:30% !important; margin-top:10px !important}
.bgnews{ background-color:#FFF; clear:both; padding:10px; margin-top:10px}
#news{ padding:10px; background-color:#fff}
.news_title2{ height:18px; background:url('../images/bg_hotnew.gif') repeat-x ; color:#FFF; font-weight:bold; text-align:center; padding-top:7px;border: 2px solid #01518E; border-radius: 2px 2px 2px 2px;}
.bgnews2 li{ list-style:none; float:left; padding-right:0px; margin-top:5px; margin-left:2px;}
.bgnews2{background-color:#FFF; clear:both; padding:10px; margin-top:10px}
.bgnews2 ul{ padding:0;}
.even{ margin-right:5px}
/*-------------footer---------------*/

#subpage_footer{ width:100%; height:220px; clear:both; margin-top:30px; text-align:left}
#subpage_footer_top{ width:100%; height:6px; background-color:#a6a6a6}
#subpage_footer_bottom{ background-color:#3c3c3c; height:auto; }
.content_subpage_footer_bottom{ width:1000px; margin:auto; border-bottom:1px solid #8b8b8b; height:180px}
.ul_footer{ color:#8b8b8b; float:left; }
.ul_footer ul{ padding:20px 0 0 5px; margin:5px;}
.ul_footer a{  text-decoration:none; color:#8b8b8b;}
.ul_footer li{ list-style:none; padding:5px 0 5px 0}
#img_footer li{ float:left; padding-right:5px; margin:0;}
#img_footer{ margin-top:-20px}
#ul1{ width:15%;}
#ul1 a{ color:#a9a9a9}
#ul2{ width:20%}
#ul3{ width:24%; margin-right:110px;}
#ul4{ width:30%}
#copy{ clear:both; color:#8b8b8b; background-color:#3c3c3c; height:35px;}
#copy p{ padding-top:10px; margin:auto; width:1000px;}
.read_add  a{ text-decoration:none; color:#0762a7}

/*------------------subpage detail-------------------*/

.subpage_wapper_left_top_detail{height:31px; width:94%; background-color:#e9e9e9; margin:10px 10px 0 10px; padding:10px; font-weight:bold; font-size:18px;}
.subpage_new_detail ul{ padding:0;}
.subpage_new_detail{ border-bottom:1px solid #ededed; height:20px}
.subpage_new_detail ul li{ float:left; list-style:none; padding:0 10px 0 10px}
.subpage_new_detail ul a{ text-decoration:none}
#share{ margin:-14px 0 0 50px;}
#share li{ padding-right:0}
#detail_ul li,.detail_ul li{ list-style:url('../images/list.png')}
#detail_ul a,.detail_ul li a{ text-decoration:none; color:black}
#detail_ul { padding-left:20px}
.p_detail{ font-size:12px; font-weight:bold;}
#content_detail{ padding:10px}
#content_detail p{ font-size:12px;}
#ul_detail_lk li{ float:left; list-style:none; padding-right:5px;}
.detail_add{ width:100%; height:80px; background-color:#d4cec4; margin:20px 0}
.subpage_wapper_left_detail{width:70%; float:left; height:auto;}
.element_detail{background-color:#fff; height:auto; padding-top:10px}
.element_detail2{ background-color:#fff; height:auto; padding:15px}
.n, .e{height:30px; width:70%; background-color:#e8e8e8; border:0; padding-left:10px; margin-top:15px}
.m{height:120px; width:70%; background-color:#e8e8e8; border:0; padding-left:10px; margin-top:15px; padding-top:10px}
.submit_detail{ width:100px; height:35px; background-color:#106eb5; border:1px solid #0660a5; border-radius:5px; color:#fff; margin-top:15px; font-size:13px;}
.detail_ul li{ padding:5px 0 5px 0;}


/*------video-------------*/
#videp_left{ float:left; width:170px; margin-top: 7px}
#videp_left li:hover{background: #0c68ae}
#videp_left a:hover{color: white}
#video_right { float:left; width:73%}
#ul_video_left{ clear:both}
#ul_video_left{margin:0; padding:10px}
#ul_video_left li{ list-style:none; padding:10px 0 10px 10px; border-bottom:1px dotted #E9E9E9}
#ul_video_left li a{ text-decoration:none; color:black; font-weight:bold}
.subpage_wapper_left_top_video{background-image:url('../images/topmenu.gif'); height:31px; width:100%; background-repeat:no-repeat; margin:10px 10px 0 10px; padding:8px 0 0 12px; color:#fff; font-weight:bold}
#video_right li{ float:left; list-style:none; width:152px; margin:0 5px 0 10px;}
#video_right a{ text-decoration:none; color:black}
#video_right ul{ margin:0; padding:0}
#page_video{ margin:0; padding:0}
#page_video li{ list-style:none; float:left; padding-right:5px !important; width:7px !important; line-height:45px;}
#page_video a{ text-decoration:none;  color:#2877b3 !important}
#news_video{ padding:10px; background-color:#fff;}
#news_video img{ float:left; width:42%}
#news_video p{ float:right; width:54%; margin:0; padding:0}
#news_video ul{ margin:0; padding:0}
#news_video li{ clear:both; list-style:none !important; border-bottom:1px dotted #E9E9E9; padding:5px 0 5px 5px; height:90px;}
#date{ margin-top:15px !important;}


/*----------------CSS Trung------------*/
a{ text-decoration: none }
a:hover{text-decoration: underline}
.a-title{ font-weight: bold; color: black; text-decoration: none; font-size: 13px }
.a-title:hover{text-decoration: underline }
.p-datetime{ font-style:oblique;  }
/*----------------begin header------------------*/
#header{ width:100%; height:200px; padding-top:20px;background:url(../images/bg_top.gif) repeat-x top; }
#center-header{ width:1000px; height:200px; padding-top:0; margin: auto; }
#logo img{ width:230px; height:102px; float:left;}
.right-header{ float:right;}
.img-header p img{ height:110px !important; float:left; width:604px;}
#header p{ float:left; font-weight:bold; height:100%; width:100px; padding: 0 4px 0 0; margin: 0;}
#header label{ color:red;}
/*----------------end header------------------*/

/*----------------Menu------------------*/
#menu-top{ width:998px; margin:auto; padding-top:16px; float: none; clear: both }
#menu-left{ width: 165px; float: left; padding: auto; }
#menu-left ul li a { margin-left:3px; font-weight: bold }
#menu-left ul li a:hover { color: white ; margin-left:3px; font-weight: bold; }
#menu-left ul li{border:1px; border-bottom: 1px dotted #E9E9E9; margin-right:6px;padding-top:10px}
#menu-left ul li:hover{border:1px; border-bottom-style:dotted; background-color:#0c68ae; margin-right:6px}
#nav{ width:auto; font-weight: bold; text-align: left; padding-left: 1px }
        #nav li.item{display:inline-block;padding:9px 10px; color: #5E5648;}
        li .a-style{  color: #5E5648 !important; font-weight: normal; font-size: 11px !important; }
        li .a-style:hover{ font-weight: bold;  }
        #nav li.item:hover,#nav li.item.selected{background:#003399;}
        #nav li.item a{color:White;text-decoration:none; font-size:15px; margin-right: 5px;  }
        #nav li.item:hover ul.sub,#nav li.item.selected ul.sub{display:block; position:absolute; top:185px;left:auto; width:auto;list-style:none; height:30px;}        
        #nav li.item.selected ul.sub li.itemSub,#nav li.item:hover ul.sub li.itemSub{display:inline-block;padding:8px 0px;font-size:12px; font-family: Microsoft Sans Serif,airal; height:12px; line-height:20px;}        
		#nav ul.sub{display:none; padding-left: 1px }
/*----------------end menu------------------*/

/*----------------Content------------------*/
#content{ background-color:#E9E9E9 ; width:1000px; margin:auto; height:auto;padding: 15px;}
.left{ width: 670px; height: auto; float: left}
.right{ width: 300px; height: auto; margin-left:700px  }
.content-left1{ width: 670px; float: left; height: auto; margin-bottom: 15px;}
.sliders-left{ background-color:#fdfefe !important; width: 485px; height: auto; float: left }
.sliders-right{background-color:#fdfefe !important; width: 150px; height: auto; float: right; text-align: center; padding: 5px }
.img1{ width: 390px; height: 250px; float: left;  }
.img2{ width: 60px; height: 60px; float: left; margin: 12px 6px 0px 2px}
.img3{ width: 120px; height: 95px; margin: 4px }
.img4{ padding: 3px; width: 4px; }
.img-video{ width: 602px; height: 350px;}
#content-left{background-color:#fdfefe !important; width: 660px; float: left; height: auto; padding-left: 10px; padding-bottom: 25px}

/*------------Video---------------*/
.youtube{background-color:#fdfefe !important; width: 660px; float: left; height: 358px; padding-left: 10px; padding-bottom: 25px}
.comment{background-color:#fdfefe !important; width: 640px; float: left; height: auto; padding: 15px; margin-top: 15px; }
.content-video{background-color:#fdfefe !important; width: 300px; padding:5px; float: right; height: auto; margin-top: 10px }
.img-video1{ width: 40px; height: 40px; float: left; margin: 3px 4px 0px 0px; }
.content-right-video{background:#1372b9; height: 31px; border:2px solid #01518E; border-radius: 2px 2px 2px 2px;}
.content-right-video h3{font: Tahoma; color: white; margin-top: 7px; text-align: center; margin: 12px 6px 0px 2px }
.content-video li a{ margin-top: 7px; font-weight: bold }
.content-video ul li{border:1px; border-bottom-style:dotted; margin-right:6px;padding-top:10px}
.title-video{}
/*------------End Video-----------*/
#content-left img{ padding: 9px 0px 5px 0px; float: left; }
#gioithieu{width: 500px; height: auto; margin-left: 165px}
.gioithieu-img{ width: 152px; height: 150px; float: left; padding: 0 13px 5px 0;}
.gioithieu-img img{width: 152px; height: 107px;}
#chitiet{width: 495px; height: auto; margin-left: 165px}
#content-right{background-color:#fdfefe !important; width: 300px; padding:5px; float: right; height: auto; margin-top: 15px }
#content-right1{background-color:#fdfefe !important; width: 300px; padding:5px; float: right; height: auto; margin-top: 15px; }
#content-right1 img{width: 4px; height: 4px; padding: 7px; }
#content-right1 li{list-style: none outside none; margin-top:10px; }
#content-right1 a{ margin-left: 5px}
#content-right1 a:hover{color: #2E74B2 }
#content-right2{background-color:#fdfefe !important; width: 300px; padding:5px; float: right; height: auto; margin-top: 10px }
#content-right2 img{width: 4px; height: 4px; padding: 7px; }
#content-right2 li{list-style: none outside none; margin-top:10px; }
#content-right2 a{ margin-left: 5px}
#content-right2 a:hover{color: #2E74B2 }
#chitiet img{float: none;}
.content-right-images{background:#1372b9; height: 31px; border:2px solid #01518E; border-radius: 2px 2px 2px 2px;}
.content-right-images h3{font: Tahoma; color: white; margin-top: 7px; text-align: center }
.content-right-images img{ width:130px; height:108px; float:left; padding: 13px 0 0px 12px}

#ads-right{background:#d4cec4; width: 270px; padding:5px; height: auto; float: right; margin-top: 15px;}
#ads-left{background-color:#d4cec4 !important; width: 670px; float: left; height: auto; padding:15px 0 10px; margin-bottom: 15px;}
/*----------------begin news-------------*/
.news{background-color:#fdfefe !important; width: 640px; float: left; height: auto; padding: 15px; margin-top: 15px; }
#tittle-news{ height:20px; margin-top: 15px}
.item-news{  width:100%; height:auto; clear:both;}
.item-new-left{ width:50%; height:auto; padding:0 10px 10px 0; float:left; border-right:2px solid #c7c7c7; margin-top:10px; clear:both}
.item-new-left img{ width:130px; height:90px; float:left; margin:0 10px 10px 0;}
.tittle{ color:#00cbff; font-size:14px; font-weight:bold; margin:5px}
.tittle a{ color:#00cbff !important; font-size:14px; font-weight:bold; margin:2px; text-decoration: none}
.tittle a:hover{text-decoration: underline}
#tittle-news p{ color:#FFF; font-weight:bold; margin-left:5px; padding-top:4px;}
.item-new-right{ float:left; width:46%;}
.item-new-right ul{ padding-left:15px;}
.item-new-right ul li{ list-style:none;}
.item-new-right ul li a{ color:#313131; text-decoration: none; line-height: 21px;}
.item-new-right ul li a:hover{ color:#2E74B2 ; text-decoration: underline}

.van{ width:100%; height:21px;}
.tittle-van{background:url(../images/thanhnhon_cha.jpg) 100% 0; width: auto ; float:left; color:#FFF; font-weight:bold; padding-right: 20px; height:21px;}
.tittle-van p{ margin:5px;}
.border{ border-bottom:2px solid #28667c; height:21px; color:#c7c7c7;}
.border li{ list-style:none; float:left; padding:0 5px 0 5px; line-height:23px; }
.border li a{color:#000; text-decoration:none;}
.tittle-vh{background-image:url(../images/NEN_18.png); background-repeat: no-repeat; float:left; color:#FFF; font-weight:bold; width:200px; height:21px;}
.tittle-vh p{ margin:5px;}

.tittle-hb{background-image:url(../images/NEN_24.png); background-repeat: no-repeat; float:left; color:#FFF; font-weight:bold; width:136px; height:21px;}
.tittle-hb p{ margin:5px;}
/*----------------end news-------------*/
/*----------------end Content--------------*/

/*------------End CSS Trung------------*/

.togger_background{height: 26px !important;color: white;background-image: url('../images/new1.gif');}
.togger_border{height: 18px !important;border: 1px solid #CCC;color:black}
