@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/bg-1.gif)/*tpa=http://kcbonline.org/kcb1/kcb/templates/kensington_inner/images/bg.gif*/;
	background-repeat:repeat-x;

	background-color:#eeeeee;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.MsoNormal{
	color:black;
}

.search {
font-family: Tahoma;
font-size:11px;
color:#e6edf1;
font-weight:bold;
}

.text {
font-family:Tahoma;
font-size:11px;
text-decoration:none;
color:#000000;
font-weight:normal;
}
.text a:hover {
text-decoration:underline;
font-size:11px;
color:#000000;
font-weight:normal;
}
.arial {
font-family: Arial;

font-size:14px;
color:#000000;
font-weight:600;
}

.text1 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
text-decoration:none;
color: #e8e6e6;
font-weight:normal;
}
#menu{ height:32px; width:1002px;}
#menu ul{ display:block;}
#menu ul li{ float:left; line-height:24px; list-style:none;}
#item-menu{ position:absolute; z-index:999; background-color:#0B90DB; width:125px; text-align:center;}
#item-menu a{ cursor:pointer; }