@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/bg.gif)/*tpa=http://kcbonline.org/kcb1/kcb/templates/kensington/images/bg.gif*/;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.search {
font-family: Tahoma;
font-size:11px;
color:#e6edf1;
font-weight:bold;
}

.text {
font-family:Tahoma;
font-size:11px;
text-decoration:none;
color:#FFFFFF;
font-weight:normal;
}

.sectiontext{
	color:white;
}

.sectiontext a{
font-family:Tahoma;
font-size:11px;
text-decoration:none;
font-weight:normal;
}
.sectiontext a:hover {
text-decoration:underline;
font-size:11px;
color:#FFFFFF;
font-weight:normal;
}

.text a:hover {
text-decoration:underline;
font-size:11px;
color:#FFFFFF;
font-weight:normal;
}
.arial {
font-family: Arial;
font-size:16px;
color:#FFFFFF;
font-weight:bold;
}
#menu{ height:32px; width:1002px;}
#menu ul{ display:block;}
#menu ul li{ float:left; line-height:24px; list-style:none;}
#item-menu{ position:absolute; z-index:999; background-color:#0B90DB; width:125px; text-align:center;}
#item-menu a{ cursor:pointer; }