/** IE 67 Specific Fixes **/
* html #TopMenu {
	height: 35px;
}
* html #SearchForm {
	height: 28px;
}
* html #Menu li a {
	float: left;
	padding-bottom: 14px;
}
* html .Content {
	height: 500px;
}
* html .Left, * html .Right {
	height: 350px;
}
* html .Content .ProductList li {
	height: 24em;
}
* html .SelectGiftWrapMultiple {
	height: 400px;
}

/** General IE Fixes **/
#SearchForm .Button {
	vertical-align: bottom;
}
select, input {
	font-size: 0.95em;
}
