/* Global properties ======================================================== */
html, body {width:100%; padding:0; margin:0;}
body {font:14px Arial,Helvetica,sans-serif;color:#3c3c3c;min-width:1264px;background:#CCC9C9; line-height:20px}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.main {width:100%; background:#f4f3f3;}
/***********************************************************************/
a {text-decoration:none; cursor:pointer;}
a:hover {text-decoration:none;}
a.button {background:#2098f5; font-size:20px; line-height:24px; color:#fff; display:inline-block; padding:5px 23px 5px 23px; }
a.button:hover {background:#131313; }
a.link {text-decoration:none; cursor:pointer; color:#2098f5; }
a.link:hover {text-decoration:underline;}
.color-1 { color:#fff;}
a.color-1:hover {text-decoration:underline;}
.font-3 {font-size:17px; line-height:33px; color:#292929;}
h2 { font-size:36px; line-height:45px; color:#3c3c3c; font-weight:normal; letter-spacing:-1px;}
h3 { font-size:24px; line-height:30px; color:#3c3c3c; font-weight:normal; }
ul {margin:0;list-style-image:none;}
ul.list-1 li {padding:0px 0 0px 11px; line-height:25px; background:url(../images/marker.gif) 0 10px no-repeat;}
ul.list-1 li a { font-size:14px; color:#fff; line-height:25px;}
ul.list-1 li a:hover {color:#2098f5;}
/******************************************************************/
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper {width:100%; overflow:hidden; position:relative}
.wrap {overflow:hidden; position:relative}
.extra-wrap {overflow:hidden;}
.fleft {float:left;}
.fright {float:right;}
.img-indent {float:left; margin:3px 30px 17px 0;}	
.last {margin-right:0px !important;}
.img-radius {border-radius:4px;}

.top-1 {margin-top:20px;}
.top-2 {margin-top:29px;}
.top-3 {margin-top:21px;}
.top-4 {margin-top:31px;}
.top-5 {margin-top:12px;}

.left-1 {padding-left:30px;}

.bot-0 {padding-bottom:0 !important; margin-bottom:0 !important;}
.bot-1 {margin-bottom:39px;}
.bot-2 {margin-bottom:29px;}

.pad-1 {margin:13px 0px 12px 0px;}

.p1 {padding-bottom:25px;}
.p2 {padding-bottom:15px;}
.p3 {padding-bottom:12px;}
.p4 {padding-bottom:20px;}
.p5 {padding-bottom:23px;}
.p6 {padding-bottom:8px;}


/*********************************header*************************************/
header {width:100%; z-index:101; }
header>div {width:1264px; margin:0 auto; position:relative; }

h1 {position:absolute; left:132px; top:0px; display:inline-block; z-index:100;}

.social-icons {overflow:hidden; text-align:right; padding:17px 162px 13px 0 }
.social-icons span {display:inline-block; font-size:24px; line-height:28px; color:#3c3c3c; margin:-1px 20px 0 0; letter-spacing:-1px;}
.social-icons a {display:inline-block; width:23px; height:23px; float:right;}
.icon-1 {background:url(../images/icon-1.png) 0 0 no-repeat;}
.icon-2 {background:url(../images/icon-2.png) 0 0 no-repeat; margin-left:7px;}
.icon-3 {background:url(../images/icon-3.png) 0 0 no-repeat; margin-left:7px;}
.social-icons a:hover {background-color:#1e93f4;}

nav {border:solid 1px white; width:1000px; position:absolute; left:132px; bottom:0; z-index:100; background:url(../images/nav-bg.png) 0 0 repeat;}
ul.menu {margin:0 29px 0 30px;}
ul.menu li {text-shadow:0 1px 0 white;float:left; line-height:35px; margin:0px 0 0px 0px; background:transparent;}
ul.menu li a {font-size:20px; line-height:35px; color:black; display:block; padding: 8px 33px 8px 33px; }
ul.menu li:hover , ul.menu li.current {background:#2098f5;}

/*********************************content*************************************/
#slogan-panel{width:960px; margin:auto}
#content {width:960px; margin:0 auto; padding-bottom:78px;clear:both}

.line-1 {background:url(../images/line.png) 0 bottom repeat-x; padding-bottom:29px; margin-bottom:24px;}
.img-border {border:#fff 4px solid;}

.block-1>div {float:left; width:180px; margin-right:40px;}
.block-1>div h3 {margin:14px 0 4px 0;}
.block-1>div a.button {margin:18px 0 0px 0;}

.form-1 {}
.form-1 label {font:14px/25px Arial, Helvetica, sans-serif; color:#939393; padding-bottom:5px; }
.form-1 input {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#535353; background:#131313; padding:8px 10px 9px 15px;outline: medium none; width: 245px; height:17px; float:left; margin-bottom:12px;}
.form-1 .select-1 {width:270px; margin-bottom:12px;}
.form-1 .select-2 {width:128px; margin-right:14px; float:left;}
.form-1>a.button {margin-top:30px; padding-left:36px; padding-right:37px;}

.lists {overflow:hidden;}
.lists ul {float:left; margin-right:15px; width:120px;}
.lists-2 {margin:23px 0 23px 0; overflow:hidden;}
.lists-2 ul {float:left; margin-right:40px; width:180px;}

.block-2>a {float:left; margin-right:20px; display:inline-block;}

/****************************footer************************/
#footer {clear:both; width:100%; position:relative; overflow:hidden; text-align:center; padding:20px 0 0 0; background:#dfdddd;}
footer p, footer a {color:#939393;}
footer a:hover {text-decoration:underline;}

/**********************form**********************/
dl {margin:0px 0px 0 0px;}
dl dt {}
dl dd span { display:block; width:99px; float:left;}
dl dd {}
dl dd a {}
#form { margin: 0px 0 0px 0px; width:620px; }
#form input {background:#131313;font: 14px Arial, Helvetica, sans-serif;color:#535353;padding:7px 10px 10px 15px;outline: medium none;width: 355px;height:17px;float:left;}
#form textarea {background:#131313; font: 14px Arial, Helvetica, sans-serif;color:#535353;height: 246px;outline: medium none;overflow: auto;padding: 7px 0px 0px 10px;width: 610px;resize:none;margin:0px 0 0 0;float:left;}
#form label {position:relative;overflow:hidden; display: block; padding-bottom:12px;}
#form label strong {font-weight:normal; display:block; padding-bottom:5px;}
.btns {text-align:left; width:620px; padding-top:18px;}
.btns a {display:inline-block; margin:0 20px 0 0px;}

#slogan-panel{ padding:10px; border-radius:10px; height:auto}
#line1{clear:both; margin-top:10px; border-style:none none solid none; border-color:#d2d1d1}
#slogan-left{color:#2098F5; float:left; padding-top:0}

.contact-online{color:#939393}
.contact-online img{float:right}
#contact-panel hr{ border:dotted 1px silver; border-style:dotted none none none;}
#contact-panel{ margin-bottom:15px}

#TemplateList{width:960px; margin:auto}
.TemplateBox{
float:left;
padding: 15px;
text-align:center;
}
.TemplateBoxOver {
	color: #333;
	text-align: center;
	float: left;
	/*display: inline;
	height: 220px;*/
	border: 5px solid #FC6;
	background-color: #FFC;
	padding: 15px;
}
 #templatePage{}
 #preview-panel{position:fixed; margin-top:-500px; margin-left:400px; z-index:100; width:600px; height:500px; border:solid 2px silver; border-radius:5px}
  #preview-panel img{width:100%}
#close{text-shadow:0 1px 0 white;font-weight:bold; border-radius:5px; width:40px; cursor:pointer; width:97%; padding-right:10px; text-transform:uppercase}

#tinhnang-panel{width:960px; margin:auto}
.tinhnang-item{margin:40px 0; text-shadow:0 1px 0 white; text-align:justify; clear:both}
.tinhnang-item h3{margin-bottom:10px}
.tinhnang-content{margin:0 0 0 30px; padding-left:30px; border-left:none 1px #d8d8d8;}

#lienhe-title{text-transform:uppercase; margin-bottom:15px}
#lienhe-panel{text-shadow:0 1px 0 white; width:906px; margin:auto; padding:20px}
#information{margin-left:200px}
.red{color:red}
#send-email-panel{padding:20px 0; margin-left:200px}
#send-email-panel input{width:200px}
#send-email-panel textarea{height:150px; width:300px}
#send-email-panel #submit{width:100px; height:30px; background-color:#2098F5; color:white; font-size:20px; cursor:pointer}
#error-panel{background-color:#ffebe8; padding:15px 10px; border:solid 1px #dd3c10; line-height:15px; text-shadow:none; font-size:12px; margin-bottom:15px}

footer ul li{display:inline; margin:0 5px}

#dichvu-panel{width:960px; margin:auto}
#dichvu-menu{width:180px; float:right; background:url('../images/dichvu-menu-bg.png') repeat}
#dichvu-menu ul{padding:0 }
#dichvu-menu ul li{height:50px; line-height:50px;padding:0 0 0 10px;}
#dichvu-menu ul li a{}
.dichvu-current-menu{background:url('../images/dichvu-current-menu.png') -10px 0}
#dichvu-content{width:750px; float:left; padding:10px 20px 10px 0; text-align:justify}
#dichvu-content ul{list-style-type:circle}
#dichvu-content h3{margin-top:20px}

#design-img{width:100%; height:250px}

#mash{padding:20px; width:auto; position:fixed; z-index:999; border-radius:10px; background:url('../images/mash-bg.png'); border:solid 4px #cfcece}
#dangky-form td{padding:0 10px}
#dangky-form td input, #dangky-form td select{width:90%}
.tablebgtm{border-collapse: collapse;
width: 100%;
margin-left: 15px;}
.tablebgtm td,.tablebgtm th{border:solid 1px gray; padding:5px; vertical-align:middle}
.tablebgtm p{margin:5px}
.txt_red{color:red; text-align:center}
.center_align{text-align:center}
#banggia-right{float:left}
#banggia-right table{background-color:#ebebeb}
#banggia-right table td, #banggia-right table th{border:solid 1px gray; padding:5px}
#main-fream{width:960px; margin:auto}
.grid_4{padding-bottom:15px}
#footer .container::after {
background: #F4F3F3;
content: '';
left: 50%;
display: block;
height: 15px;
margin: 0 0 0 -7.5px;
-webkit-transform: rotate(45deg);
margin: 0 auto;
position: relative;
width: 940px;
transform: rotate(45deg);
position: absolute;
top: -43px;
width: 15px;
}
.bgtm_col1 {
width: 115px;}

.bgtm_col2 {
width: 96px;
}
.bgtm_col3 {
width: 95px;
}
.bgtm_col4 {
width: 102px;
}
.type-domain
{
	margin-left: 15px;
	margin-bottom: 7px;
	float: left;
	color: #2098F5;
	font-weight: bold;
}